@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: linear-gradient(
    to bottom,
    var(--greenishcyan-900),
    var(--green-900)
  );
}

.logo__container {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--black-900);
  padding: 15px 15px 0 15px;
}

.logo__container img {
  width: 50px;
  height: 50px;
}

.logo__container h1 {
  padding: 10px;
  color: white;
  font-size: 2.5em;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.548);
  font-family: "Kaushan Script", cursive;
}

#checkbox {
  display: none;
}

.hamburguer__container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}

.line {
  position: absolute;
  width: 20px;
}

.line-main::before,
.line-main::after,
.line-split::after,
.line-split::before {
  content: "";
  position: absolute;
  width: inherit;
  height: 2px;
  background-color: var(--black-900);
  transform: transform 0.5s;
}

.line-main::before {
  transform: translateY(-7px);
}

.line-main::after {
  transform: translateY(7px);
}

.sidenav__container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav__container a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

cite a {
  text-decoration: none;
}

.sidenav__container a:hover {
  color: #f1f1f1;
}

.sidenav__container .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
}

.nav__container-desktop,
.nav__container-footer {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: green;
}

.nav__container-desktop {
  padding-left: 15px;
  justify-content: flex-start;
}

.nav__container-footer {
  justify-content: center;
}

.nav__container-mobile {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__item {
  text-decoration: none;
  color: var(--white);
  padding: 6px;
  transition: all 0.5s ease-in-out;
}

p {
  padding: 20px;
  text-align: justify;
  margin-bottom: 1.5em;
  line-height: 1.4em;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
    "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

strong {
  font-weight: bold;
}

a {
  text-align: center;
}

main {
  margin: 0 auto;
  min-width: 320px; /* Responsividade do texto */
  max-width: 1200px; /* Responsividade do texto */
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.349);
}

.slider__wrapper {
  margin: 0 auto;
  padding: 10px;
  width: 98%;
}

.slider__item img {
  border-radius: 10px;
}

.box__container {
  display: flex;
}

.box__item {
  display: flex;
  flex-direction: row;
  margin: 15px;
  padding: 15px;
}

.box__item img {
  width: 200px;
  height: 200px;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

.box__item img:hover {
  transform: scale(1.3);
  transform: rotate(15deg);
}

.logo__container img {
  animation: loading 8s linear infinite;
}

.box__item p {
  display: flex;
  align-items: center;
}

.nav__footer {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.reference__footer {
  text-align: center;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsetopbar {
  0% {
    filter: brightness(0.9);
  }
  100% {
    filter: brightness(0.7);
  }
}

@media screen and (max-width: 768px) {
  .nav__container-desktop {
    display: none;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo__container {
    padding: 15px;
  }

  .box__item {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .reference__footer {
    padding-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .hamburguer__container {
    display: none;
  }

  .nav__item:hover {
    filter: brightness(90%);
  }

  .nav__item:active {
    filter: brightness(150%);
  }

  .sidenav__container {
    z-index: 2;
  }
}

@media screen and (max-width: 768px) {
  .logo__container h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 450px) {
  .logo__container h1 {
    font-size: 15px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav__container {
    padding-top: 15px;
  }
  .sidenav__container a {
    font-size: 18px;
  }
}

/* pages */

.box__item--pages img {
  display: block;
  margin: auto;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.wrapper__item--pages img {
  display: block;
  margin: auto;
  padding: 10px;
  width: 98%;
  height: 300px;
  border-radius: 15px;
}

.box__image cite {
  text-align: center;
  display: block;
}

@media screen and (max-width: 768px) {
  .box__container {
    flex-direction: column;
  }
}

/* fim pages */
